

<h1>常用网站</h1>



<div id="search-engines" class="sites-block">
	<h3>搜索引擎</h3>
	<a href="https://cn.bing.com" target="_blank">Bing CN</a>
	<a href="http://global.bing.com/?FORM=HPCNEN&setmkt=en-us&setlang=en-us" target="_blank">Bing global</a>
	<a href="http://search.yahoo.com/" target="_blank">Yahoo Search</a>
</div>


<div id="social-sites" class="sites-block">
	<h3>社交</h3>
	<a href="https://weibo.com" target="_blank">新浪微博</a>
	<a href="http://twitter.com/" target="_blank">Twitter</a>
	<a href="http://www.douban.com/" target="_blank">豆瓣</a>
	<a href="http://www.zhihu.com/" target="_blank">知乎</a>

</div>


<div id="buy" class="sites-block">
	<h3>购物</h3>
	<a href="https://jd.com" target="_blank">京东</a>
	<a href="http://z.cn/" target="_blank">Amazon CN</a>
</div>
